body {
            background-color: #242933;
        }

        .invalid {
            color: black;
            border-color: red;
            border-style: solid;
            border-width: 1px;
            border-radius: 3px;
            background-image: url("https://raw.githubusercontent.com/patysscc/laboratorio/main/error.png");
            background-repeat: no-repeat;
            background-size: 0.45cm;
            background-position: 210px;
            height: 22px;
            width: 230px;
        }

        .valid {
            color: black;
            border-color: green;
            border-style: solid;
            border-width: 1px;
            border-radius: 3px;
            background-image: url("https://raw.githubusercontent.com/patysscc/laboratorio/main/success.png");
            background-repeat: no-repeat;
            background-size: 0.45cm;
            background-position: 210px;
            height: 22px;
            width: 230px;
        }

        form {
            width: 250px;
            height: 500px;
            margin: auto;
            padding: 10px 32px;
            background-color: #2e3543;
            font-family: "Century Gothic";
            font-size: 16px;
            color: #dbe0f4ff;
            border-width: 1px;
            border-style: groove;
            border-color: #80b5d1;
        }

        span {
            color: #2e3543;
        }

        .noerror {
            color: #2e3543;
        }

        span.error {
            color: red;
        }

        input {
            border-color: #80b5d1;
            border-style: solid;
            border-width: 2px;
            border-radius: 4px;
            color: black;
            font-size: 16px;
            width: 230px;
        }

        h1 {
            font-size: 25px;
        }

        #nombre {
            border-style: solid;
            border-width: 2px;
        }

        #email {
            border-style: solid;
            border-width: 2px;
        }

        #Clave1 {
            border-style: solid;
            border-width: 2px;
        }

        #Clave2 {
            border-style: solid;
            border-width: 2px;
        }

        #myBtn {
            background-color: #6c63ff;
            font-family: "Century Gothic";
            font-weight: bold;
            font-size: 16px;
            color: white;
            height: 0.8cm;
            width: 6.15cm;
            border-width: 1px;
            border-style: groove;
            border-color: black;
            border-radius: 4px;
        }
